body{
    background-image: url(../img/ignasi_pattern_s.png);
}

@media screen and (max-width: 1200px) {
    .container{
        width: 1570px !important;
    }
}

@media screen and (max-width: 991px){
    
    .container{
        /* width: 970px !important; */
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
        .navbar{
            background-color: var(--colorMain);
            flex-direction: row-reverse;
        }

        .container-fluid{
            padding: 0;
        }

        .col-xs-12{
            width: 100%;
            text-align: center;
        }

        .navbar-toggler{
            margin-top: 5px;
        }

        .nav-logo{
            display: flex;
            align-items: flex-end;
        }
    }

header{
    background-color: #fff;
}

.logo{
    background-color: var(--colorMain);
    font-family: var(--fondTimes);
    font-weight: bold;
    color: #fff;
    height: 60px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}

.logo:hover{
    color: #fff;
    cursor: pointer;
}

.nav{
    color: yellow ;
}

.about-h1{
    color: var(--colorMain);
    font-family: var(--fondTimes);
    font-weight: bold;
    border-bottom: 1px solid #eee;
    font-size: 32px;
}

.about-title img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.about-title-p1{
    color:  var(--colorP);
    font-size: 16px;
    line-height: 30px;
}

.about-title-p2{
    color:  var(--colorP);
    font-size: 16px;
    line-height: 30px;
}

.box4{
    height: 65%;
}


.box-h2 h2{
    color: var(--colorMain);
    font-family: var(--fondTimes);
    font-weight: bold;
    font-size: 25px;

}

.connect-img img{
    width: 55px;
    height: 55px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #666;
    border-top: 6px solid var(--colorMain);
}